<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">-->
		<link rel="stylesheet" href="/css/all.css">
	</head>
	<body data-challenge="{{ challenge.key }}">

		<div class="container">
			<div class="row header-container" style="border-bottom: 1px solid #ccc;">
				<div class="col-sx-12 col-sm-8 col-md-9 col-lg-9">
					<h1>{{ challenge.key }} Challenge</h1>
				</div>
				<div class="col-sx-12 col-sm-4 col-md-3 col-lg-3">
					<button class="btn btn-md btn-primary start-challenge pull-right">Start Challenge</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-md-10">
					<div id="chart" style="width: 100%;"></div>
				</div>
				<div class="col-sm-2 col-md-2" style="display: none; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-left: 32px;">
					<div class="row">
						<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
							<h4>Viewers</h4>
							<ul id="viewers" class="list-group">
								<li>No viewers</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h4>Contestants</h4>
							<ul id="contestants" class="list-group">
								<li>No contestants</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/1.1.0/d3-legend.js"></script>
		
		<!--
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.7/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
		-->

		<script src="/build/js/all.js"></script>
	</body>
</html>