<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/all.css">
	</head>
	<body>

		<div class="container">
			<div class="row header-container">
				<div class="col-sm-12 col-md-12">
					<ul class="challenges">
						{{#challenges}}<li><a href="/challenges/{{key}}">{{key}} challenge</a></li>{{/challenges}}
					</ul>
				</div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="build/js/all.js"></script>
	</body>
</html>