<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/all.css">
	</head>
	<body>
		
		<div class="container"></div>
		
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/1.1.0/d3-legend.js"></script>
		
		<!--
		<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
		<script src="build/js/all.js"></script>
		-->

		<script>

			let JSONString = '[{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277047,"error":0.002739075245166811,"contestant":40},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277048,"error":0.002739075245166811,"contestant":8},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277048,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277048,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277049,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277050,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277057,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277051,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277054,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277054,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277055,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277058,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277059,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277060,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277061,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277062,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277063,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28},{"inputs":[0,1],"target_output":1,"predicted_output":0.9972609247548332,"timestamp":1476959277064,"error":0.002739075245166811,"contestant":28}]';
			let data = JSON.parse(JSONString);

			let outerWidth  = 700;
			let outerHeight = outerWidth / 2;
			let margin = {
				left: 150,
				top: 5,
				right: 80,
				bottom: 60
			};

			let xColumn     = 'timestamp';
			let yColumn     = 'error';
			let colorColumn = 'contestant';
			let lineColumn  = colorColumn;

			let xAxisLabelText   = 'Time(ms)';
			let xAxisLabelOffset = 60;
			let yAxisLabelText   = 'Error';
			let yAxisLabelOffset = 80;

			let innerWidth  = outerWidth - margin.left - margin.right;
			let innerHeight = outerHeight - margin.top - margin.bottom;

			let svg = d3.select('body')
				.append('svg')
				.attr('width', outerWidth)
				.attr('height', outerHeight);
			let g = svg.append('g')
				.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

			let xAxisG      = g.append('g')
				.attr('class', 'x axis')
				.attr('transform', 'translate(0,' + innerHeight + ')');
			let xAxisLabel  = xAxisG.append('text')
				.style('text-anchor', 'middle')
				.attr('transform', 'translate(' + (innerHeight / 2) + ',' + xAxisLabelOffset + ')')
				.attr('class', 'label')
				.text(xAxisLabelText);

			let yAxisG      = g.append('g')
				.attr('class', 'y axis');
			let yAxisLabel  = yAxisG.append('text')
				.style('text-anchor', 'middle')
				.attr('transform', 'translate(-' + yAxisLabelOffset + ',' + (innerHeight / 2) + ') rotate(-90)')
				.attr('class', 'label')
				.text(yAxisLabelText);

			let colorLegendG = g.append('g')
				.attr('class', 'color-legend')
				.attr('transform', 'translate(450, 20)');

			let xScale = d3.time.scale.utc().range([0, innerWidth]);
			let yScale = d3.scale.linear().range([innerHeight, 0]);
			let colorScale = d3.scale.category10();

			let xAxis = d3.svg.axis()
				.scale(xScale)
				.orient('bottom')
				.ticks(5)
				.outerTickSize(0);
			let yAxis = d3.svg.axis()
				.scale(yScale)
				.orient('left')
				.ticks(5)
				.outerTickSize(0);

			let line = d3.svg.line()
				.x((d) => xScale(d[xColumn]))
				.y((d) => yScale(d[yColumn]));

			let colorLegend = d3.legend.color()
				.scale(colorScale)
				.shapePadding(3)
				.shapeWidth(15)
				.shapeHeight(15)
				.labelOffset(6);


			//function render(data) {
				xScale.domain(d3.extent(data, (d) => d[xColumn]));
				yScale.domain([0, d3.max(data, (d) => d[yColumn])]);

				xAxisG.call(xAxis);
				yAxisG.call(yAxis);

				let nested = d3.nest()
					.key((d) => d[lineColumn])
					.entries(data);

				colorScale.domain(nested.map((d) => d.key));

				let paths = g.selectAll('.chart-line').data(nested);
				paths.enter().append('path').attr('class', 'chart-line');
				paths.exit().remove();
				paths
					.attr('d', (d) => line(d.values))
					.attr('stroke', (d) => colorScale(d.key));

				colorLegendG.call(colorLegend);
			//}
		</script>
	</body>
</html>