.start-challenge {
	margin-top: 20px;
}

#viewers li, #contestants li {
	list-style: none;
}

.chart-line {
	fill: none;
	stroke-width: 1.5px;
}

.axis text {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}
.axis .label {
	font-size: 18pt;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.color-legend text {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}
